{% extends 'fueled_app/base.html' %}
{% block title %} Add a new Restaurant {% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-9">
      <form action="{% url 'fueled_app.views.add_new_place' %}" method="post">
        {% csrf_token %} 
        {% for field in form %}
            <label for="{{field.name}}"> {{ field.label }} </label>
            <div class="form-group">
              {{ field }}
            </div>
        {% endfor %} 
        <p><input type="submit" value="Submit" class="btn btn-default"></p>
      </form> 
    </div>
  </div>
{% endblock %}
