{% extends 'fueled_app/base.html' %}
{% block title %} Dashboard {% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-9">
      {% if new_places %}
        {% for place in new_places %}
          {{ place.name }} - {{ place.address }}
        {% endfor %}
      {% else %}
        <h3>It looks like there are no new places for you to visit.</h3>
        {% if user.can_add_places %}
          <form action="{% url 'fueled_app.views.add_new_place' %}" method="get" accept-charset="utf-8">
          
            <p><input type="submit" value="Add more places!" class="btn btn-default"></p>
          </form>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
