{% extends 'fueled_app/base.html' %}

{% block title %}Login{% endblock title %}

{% block body %}
    <h3>Log in!</h3>

    <form action="{% url 'fueled_app.views.login_user' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit"/>
    </form>
{% endblock body %}
