{% extends 'fueled_app/base.html' %}

{% block title %} Profile - {{ user}} {% endblock %}

{% block body %}
    {% load custom_tags %}
    <div class="row">
        <div class="col-md-9">
            <form action="{% url 'fueled_app.views.profile' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                <label>{{ field.name|capitalize }}</label>
                <div class="form-group"> {{ field }} </div>
                {% endfor %}
                <p><input type="submit" value="Submit" class="btn btn-default"></p>
            </form>
        </div>
    </div>

{% endblock %}
