{% extends 'fueled_app/base.html' %}

{% block title %}Register{% endblock title %}

{% block body %}
<h3>Sign up!</h3>

<form action="{% url 'fueled_app.views.signup' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit"/>
</form>
{% endblock body %}
