{% extends 'fueled_app/base.html' %}

{% block title %} {{ item.name }} {% endblock %}

{% block body %}
  <div class="row">
      <div class="col-md-9">
        <h3>{{ item.name }}</h3>

        {% if item.description %}
            <h4>{{ item.description }} </h4>
        {% endif %}

        {% if visited %}
          <h4>You have already visited this restaurant!</h4>
        {% endif %}

        {% if item.reviews %}
            <h4>{{ item.reviews|length }} reviews found!</h4>
            {% for review in item.reviews %}
                <h4>{{ review.text }}</h4>
                {% if review.comments %}
                    {% for comm in review.comments %} <h5>{{ comm.text }} </h5> {% endfor %}
                {% endif %}

                <form action="{% url 'fueled_app.views.add_comment' review.pk %}" method="post">
                  {% csrf_token %} 
                  {% for field in commentform %}
                      <div class="form-group">
                        {{ field }}
                      </div>
                  {% endfor %} 
                  <p><input type="submit" value="Add comment" class="btn btn-default"></p>
                </form> 

            {% endfor %}
        {% else %}
            <h4>Alas, nobody has reviewed this place yet. Be the first one!</h4>
        {% endif %}
        
          <form action="{% url 'fueled_app.views.add_review' %}" method="post">
            {% csrf_token %} 
            {% for field in reviewform %}
                <div class="form-group">
                  {{ field }}
                </div>
            {% endfor %} 
            <p><input type="submit" value="Submit" class="btn btn-default"></p>
          </form>

          {% if past_visitors %}
              <h4>
                  This place has been visited by the following people in the past:
                  {% for visitor in past_visitors %}
                    <h5>{{ visitor }}</h5>
                  {% endfor %}
              </h4>
          {% else %}
            <h4>
                Seems like nobody {% if visited %} besides you {% endif %} has visited this place yet.
                {% if not visited %} Wanna try it out? {% else %} Maybe you should invite your friends! {% endif %}
            </h4>
          {% endif %}
      </div>
    </div> 

{% endblock body %}
